.pokemon_battle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .pokemon_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .pokemon_card {
      flex: 1 1 50%; /* Ocupa el 50% del ancho del contenedor */
      max-width: 50%; /* Limita el ancho máximo a 50% */
      box-sizing: border-box;
    }
  }
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .pokemon_battle {
    .pokemon_list {
      overflow: auto;
      flex-wrap: nowrap;
      justify-content: initial;

      .pokemon_card:last-of-type {
        margin-right: 20px; /* O el valor que desees para la última tarjeta */
      }
    }
  }
}
