.main__app {
  margin: 0 auto;
  width: 100%;
}
.main__layaout {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 80px;

  .wrapper__main {
    width: 60%;
    padding: 10px;
  }

  .wrapper__battle {
    width: 40%;
    min-height: calc(100vh - 80px);
    padding: 30px 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
}
