.main__app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main__layaout {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 80px;

  .wrapper__main {
    width: 60%;
    padding: 10px;
    min-height: 500px;
    height: calc(100vh - 100px);
    overflow: auto;
  }

  .wrapper__battle {
    width: 40%;
    padding: 30px 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .main__app {
    height: auto;
  }

  .main__layaout {
    flex-direction: column-reverse;

    .wrapper__main {
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }

    .wrapper__battle {
      width: 100%;
    }
  }
}
