body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #efdfdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc0a2d;
  border-radius: 0px;
  min-height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #540e1a;
}
